<ion-header>
  <ion-toolbar>
    <ion-title>popularmovie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-infinite-scroll-content>

  <ion-button (click)="fetchData(false);">
    Previous page
  </ion-button>
  <div><div class="bolder_text">Page number: </div><div>{{this.page}}</div></div>
  <ion-button (click)="fetchData(true);">
    Next page
  </ion-button>
<!--Look though all the data in the array, and then display all the data.
If you clicked on the movie name, you will go to another page where the description will be giving-->
  <div *ngFor="let movie of movies">
    <ion-card href="/description-of-movie/{{movie.id}}">
      <ion-card-header>
        <ion-card-title>
          <div>
            <div class="bold">Name of the movie:</div>
            <div class="bolder_text">{{movie.name}}</div>
          </div>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <div class="bolder">Rating of the movie:</div>
          <div class="popolarity_text">{{movie.popularity}}</div>
        </div>
        <br>
        <img src="https://image.tmdb.org/t/p/w500/{{movie.imgPath}}" alt="{{movie.name}}}"/>
      </ion-card-content>
      <br>
    </ion-card>
  </div>
  <ion-button (click)="fetchData(false);">
    Previous page
  </ion-button>
  <ion-button (click)="fetchData(true);">
    Next page
  </ion-button>

  </ion-infinite-scroll-content>

</ion-content>
