

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="this.folder !== 'Finn'">
      <strong class="capitalize">{{ folder }}</strong>
      <p>
        Explore
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components"
          >UI Components</a
        >
      </p>
    </div>

    <div *ngIf="this.folder === 'Finn'">

      <div class="cardsPro">
      <!-- <ion-list> -->
      <div *ngFor="let movie of movies">


        <div class="cardPro">
          <div>{{movie.name}}</div>
          <img class="image" src="https://image.tmdb.org/t/p/w500/{{movie.imgPath}}" />
        </div>
        
    </div>
  </div>
      <!-- <div class="cardsPro"> -->
        <!-- <ion-card>
        <div *ngFor="let movie of movies">
            <img src="https://image.tmdb.org/t/p/w500/{{movie.imgPath}}" />
            <ion-item>
            <ion-card-header>
              <ion-card-title>{{movie.name}}</ion-card-title>
              <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content> {{movie.desc}} </ion-card-content>
            </ion-item>
        </div>
      </ion-card> -->
      </div>
  </div>
</ion-content>
