<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Best movies</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Best movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Best movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <p>
        Explore
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://ionicframework.com/docs/components"
        >UI Components</a
        >
      </p>
    </div>
  <div>HELLO WORLD!</div>

      <div *ngFor="let movie of movies">
        <ion-card href='www.themoviedb.org/search?query={{movie.name}}'>
          <ion-card-header>
            <ion-card-title><div><div class="bold">Name of the movie:</div> {{movie.name}}</div></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf='movie.adult !== true'>
              <div><div class="bold">Overview of the movie:</div> {{movie.desc}}</div>
            </div>
            <div><div class="bold">Rating of the movie:</div> {{movie.popularity}}</div>
            <br>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.imgPath}}" />
          </ion-card-content>
          <br>
        </ion-card>
      </div>
</ion-content>
