<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Page selection</ion-list-header>

<!--          List all the pages we have on the left sidebar.     -->

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/popularmovie" lines="none" detail="false" routerLinkActive="selected">
              <ion-label>Popular Movies</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/popular-tv" lines="none" detail="false" routerLinkActive="selected">
              <ion-label>Popular series on TV</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
